/* * { outline: 1px solid #f00; }  */

:root { --black : #1d1d1f; --br_gray: #f5f5f7; --w_light-gray : #979797; --w_dark-gray : #464646; --w_light-black : #5c5c5c; --dark_gray : #4d4d4d; --d_white : #efefef; --d_light-gray : #999999; --d_dart-gray : #4d4d4d; --blue : #06c; --bg: #fbfbfc } 

html { font-size: 10px; } 
body { overflow-x: hidden; background: var(--bg); } 
.wrap { height: 100vh; padding: 20px; } 
h2 { font-size: 38px; font-weight: 800; color: var(--black); } 
h3 { font-size: 24px; font-weight: 800; color: var(--black); } 
/* .wrap { margin: 0 auto; } */
.container { width: auto; margin: 0 auto; } 
.main { } 


/* header START */
.header { position: relative; transition: 0.5s; z-index: 999; } 
.header.on { position: fixed; left: 0; right: 0; top: 0; } 
.header .container { display: flex; } 
.header .header_logo { margin: auto 0; } 
.header h1 { width: 150px; font-size: 30px; font-weight: 400; transition: font-size 0.5s; } 
.header.on h1 { font-size: 24px; } 
.header h1 span { font-weight: 800; } 

/* gnb START */
.header .gnb { position: absolute; top: 0; left: 50%; transform: translateX(-50%); margin: 0 auto; font-size: 1.6rem; font-weight: 600; } 
.header .gnb>ul { display: flex; } 
.header .gnb>ul>li a { display: block; padding: 10px 30px; color: var(--w_light-gray); transition: color 0.3s; } 
.header .gnb>ul>li a:hover { color: var(--black); } 

.header .test { width: 150px; text-align: right; margin: auto 0; color: #fff; } 



/* Main START */
/* .main { overflow-x: hidden; } */

/* Main Visual START */
.main_visual { position: relative; overflow-x: hidden; margin: 0 0 8.0rem 0; text-align: center; } 
.main_visual h2 { font-size: 6rem; font-weight: 800; color: var(--black); letter-spacing: -0.1rem; margin: 8rem 0 2.6rem 0; } 
.main_visual h2 span { display: block; margin: 8px 0 0 0; } 
.main_visual p { font-size: 2.0rem; margin: 0 0 6rem 0; } 
.main_visual .btn a { transition: opacity 0.3s; } 
.main_visual .btn a:hover { opacity: 0.6; } 


/* .swiper { width: auto; height: 80vh; } */
/* .swiper figure { height: calc(100vh - 100px); background: url(../img/pic/Woman\ with\ a\ Parasol.jpg) no-repeat center center/contain; } 
.swiper figure { } */
.swiper figure a { display: block; width: 100vw; height: calc(100vh - 100px); background: url(../img/pic/Woman-with-a-Parasol.jpg) no-repeat center center/contain; margin: 0 auto; } 


/* 모바일 메뉴 */
/* .header .mopen { display: block; position: absolute; top: 0.8rem; left: 0; z-index: 999; width: 48px; height: 48px; border-radius: 3px; cursor: pointer; transition: 0.5s; } 
.header.on .mopen { top: 0; left: 0; } 
.header .mopen span { position: absolute; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(0px 0px 99.9% 99.9%); overflow: hidden; height: 1px; width: 1px; padding: 0; border: 0; } 
.header .mopen::before, 
.header .mopen::after { content: ""; position: absolute; left: 16px; right: 16px; height: 1px; background: #333; } 
.header .mopen::before { top: 20px; } 
.header .mopen::after { bottom: 20px; } */

/* 애플 모바일 메뉴 카피 */
.menu-container { display: none; height: 48px; width: 48px; cursor: pointer; position: absolute; top: 20px; right: 20px; } 
.menu-container .line { height: 40px; width: 40px; position: absolute; left: 4px; top: 4px; transition: transform 100ms ease-in-out; } 
.menu-container .line-inner { height: 1px; width: 19px; background: #222; position: absolute; transition: transform 100ms ease-in-out; transition-delay: 100ms; } 
.menu-container .line-inner-1 { top: 20px; left: 10px; transform: translateY(-4px); } 
.menu-container .line-inner-2 { bottom: 20px; left: 10px; transform: translateY(4px); } 
.menu-container.active .line-1 { transform: rotateZ(45deg); } 
.menu-container.active .line-2 { transform: rotateZ(-45deg); } 
.menu-container.active .line-inner { transform: none; transition: transform 100ms ease-in-out; } 
.menu-container.active .line { transition-delay: 100ms; } 


/* 모바일 반응형 */
/* 태블릿 pc 별도 */



/* @media (min-width:769px) and (max-width:1024px) { } */



@media (max-width:768px) { body.on { position: fixed; overflow: hidden; touch-action: none; } 

/* header START */
.header { position: relative; transition: 0.5s; z-index: 999; } 
.header .container { display: block; } 
.header .header_logo { margin: auto 0 0 0; } 
.header h1 { width: 150px; font-size: 24px; font-weight: 400; transition: font-size 0.5s; text-align: center; margin: 0.2rem auto 1.0rem auto; } 
.header.on h1 { font-size: 24px; margin: 0.2rem auto 1.0rem auto; } 
.header h1 span { font-weight: 800; } 

/* gnb START */
.header .gnb { position: absolute; top: 80px; left: 50%; transform: translateX(-50%); height: 0; overflow: hidden; margin: auto auto; font-size: 1.8rem; font-weight: 600; background: #fff; padding: auto; transition: 0.5s; } 
.header .gnb.open { height: 500px; } 

.header .gnb>ul { display: flex; flex-direction: column; } 
.header .gnb>ul>li~li { border-top: 1px solid var(--br_gray); } 
.header .gnb>ul>li a { display: block; padding: 17px 30px 13px 30px; } 
.header .gnb>ul>li:hover ~ li { color: inherit; } 



/* 메뉴 열렸을때 바깥 bg 블러blur 효과 */
/* body .header .back_drop { height: 80vh; width: 100vw; left: 0; position: fixed; bottom: 0; backdrop-filter: blur(4px); pointer-events: inherit; z-index: -1; background-color: rgba(0, 0, 0, 0.1); opacity: 0; transition: opacity 0.5s; } 
body.on .header .back_drop { opacity: 1; } */


/* Main START */
/* .main { overflow-x: hidden; } */ 

/* 모바일 Menu 버튼 */
.menu-container { display: block; } 
 }